* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}


.header {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 15px;
  margin-bottom: 20px;
  
  
}

.logo {
  padding: 10px;
  
}

.nav a {
  margin: 20px;
  text-decoration: none;
  color: black;
  
}


.main {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.content {
  flex: 3;
  background: #ddd;
  padding: 20px;
  height: 500px;
}

.sidebar {
  flex: 1;
  background: #ddd;
  padding: 20px;
  height: 500px;
}


.footer {
  background: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
